@{
    Layout = "~\\Views\\Shared\\_Layout5.cshtml";
}

@Html.Action("GetAllExpositionHome", "Exposition")
<div class="container ">
    <div class="row">
        @*<div class="col-md-2">
            @Html.Action("GetAllDogTypesHome", "DogType")
        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Action("GetAllAvardHome", "Avard")
        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Action("GetAllVaccinationHome", "Vaccination")
        </div>*@
    </div>
</div>