@{
    ViewBag.Title = "TestDataPicker";
}

<link href="~/DatePicker/jquery-ui-DatePicker.css" rel="stylesheet" />


<p>Date: <input type="text" id="datepicker"></p>


@section script{
<script src="~/DatePicker/DataPicker(1-10).js"></script>
<script src="~/DatePicker/DataPicker(1-11).js"></script>
<script src="~/DatePicker/MyScriptDatePicker.js"></script>
}