@model DogsClub.WebUI.Models.DogType
<div class="TypeDog">
    @using (Html.BeginForm())
    {
        <div class="ConteinerChengeUser">
            @Html.AntiForgeryToken()
            <div class="NameAdd">Название</div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validationMessage" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "EditText2" } })
        
            <input type="submit" value="Добавить" class="btn btn-info" id="AddButton" />
        </div>
    }
</div>
@section script{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


