@{
    Layout = "~\\Views\\Shared\\_Layout4.cshtml";
}
<div>
    <div class="ConteinerAddExposition">
        @Html.Action("Add", "PaymentType")
    </div>
    <div class="newConteinerVaccination">
        @Html.Action("GetAll", "PaymentType")
    </div>
</div>
