
<div id="port-folio" class="pad-top-botm">
    <div class="container">
        <div class="row text-center ">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <h2 data-wow-delay="0.3s" class="wow rollIn animated"><strong>GALLERY </strong></h2>
                <p class="sub-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-4 ">

                <div class="portfolio-item wow rotateIn animated" data-wow-delay="0.4s">


                    <img src="~/Images/portfolio/g.jpg" class="img-responsive " alt="" />
                    <div class="overlay">
                        <p>
                            <span>
                                Image Orinagal Size: 750x500
                            </span>
                            PROJECT TITLE HERE
                        </p>
                        <a class="preview  " title="Image Title Here" href="~/Images/portfolio/g.jpg"><i class="fa fa-search-plus fa-5x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">

                <div class="portfolio-item wow rotateIn animated" data-wow-delay="0.5s">


                    <img src="~/Images/portfolio/b.jpg" class="img-responsive " alt="" />
                    <div class="overlay">
                        <p>
                            <span>
                                Image Orinagal Size: 750x500
                            </span>

                            PROJECT TITLE HERE
                        </p>
                        <a class="preview " title="Image Title Here" href="~/Images/portfolio/b.jpg"><i class="fa fa-search-plus fa-5x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">

                <div class="portfolio-item wow rotateIn animated" data-wow-delay="0.6s">


                    <img src="~/Images/portfolio/c.png" class="img-responsive " alt="" />
                    <div class="overlay">
                        <p>
                            <span>
                                Image Orinagal Size: 750x500
                            </span>

                            PROJECT TITLE HERE
                        </p>
                        <a class="preview " title="Image Title Here" href="~/Images/portfolio/c.png"><i class="fa fa-search-plus fa-5x"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row " style="padding-top: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="portfolio-item wow rotateIn animated" data-wow-delay="0.7s">
                    <img src="~/Images/portfolio/d.jpg" class="img-responsive " alt="" />
                    <div class="overlay">
                        <p>
                            <span>
                                Image Orinagal Size: 750x500
                            </span>

                            PROJECT TITLE HERE
                        </p>
                        <a class="preview  " title="Image Title Here" href="~/Images/portfolio/d.jpg"><i class="fa fa-search-plus fa-5x"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">

                <div class="portfolio-item wow rotateIn animated" data-wow-delay="0.8s">


                    <img src="~/Images/portfolio/e.jpg" class="img-responsive " alt="" />
                    <div class="overlay">
                        <p>
                            <span>
                                Image Orinagal Size: 750x500
                            </span>

                            PROJECT TITLE HERE
                        </p>
                        <a class="preview " title="Image Title Here" href="~/Images/portfolio/e.jpg"><i class="fa fa-search-plus fa-5x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="portfolio-item wow rotateIn animated" data-wow-delay="0.9s">
                    <img src="~/Images/portfolio/h.jpg" class="img-responsive " alt="" />
                    <div class="overlay">
                        <p>
                            <span>
                                Image Orinagal Size: 750x500
                            </span>
                            PROJECT TITLE HERE
                        </p>
                        <a class="preview " title="Image Title Here" href="~/Images/portfolio/h.jpg"><i class="fa fa-search-plus fa-5x"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
